@media (max-width: 600px) {
  nav {
  padding: 10px;
  width: 95%;
}

main {
  padding-top: 100px;

  & section {
    padding: 20px;
  }
}

.imagem{
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

#Sobre{
  width: 90%;
  display: block;
  padding: 10px;
}

#Sobre div{
  justify-items: center;
  align-items: center;
  gap: 10px;
}

#Sobre h1{
  font-size: 30px;
}

#Sobre b{
  font-size: small;
}

#Skills, #Aprendizado{
  display: block;
  justify-items: center;
  font-size: 15px;
  list-style: none;
  
  &h1{
    text-align: center;
  }

  & ul {
    list-style: none;
    padding: 0;
  }
}

#Projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: black;
}

#Projetos div {
  position: relative; /* referência para posicionamento do span */
  display: inline-block;
  align-self: center;
  width: 20%;
  flex-direction: column;
  justify-content: center;  
  border-radius: 4%;
  color: var(--projeto-text);
}

#Projetos div span {
  position: absolute;
  bottom: 10px; /* distância do fundo */
  left: 5px;   /* distância da esquerda */
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px 8px;
  width: 200%;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: opacity 1s ease;
}

#Projetos img {
  width: 300%;
  height: auto;
  border-radius: 10px;
  display: block;
}

}