* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #000000;
  --texto: #ffffff;
  --projeto-text: #000000;
  --projeto-back: #ffffff;
}

.dark {
  --background: #ffffff;
  --texto: #000000;
  --projeto-text: #ffffff;
  --projeto-back: #14153f;
}

body {
  background-color: var(--background);
  color: var(--texto);
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
  transition: background-color 0.4s ease, color 0.4s ease;
}

nav {
  color: var(--texto);
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 15px;
  width: 100%;
  transition: background-color 0.4s ease, color 0.4s ease;

  & button {
    font-size: 23px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--nav-texto);
    transition: opacity 0.3s ease;
  }

  & button:hover {
    opacity: 0.6;
  }

  & h1 {
    justify-self: start;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  & div {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 30px;

    & a {
      padding: 6px;
      text-decoration: none;
      color: var(--texto);
      transition: color 0.4s ease, transform 0.3s ease;
    }

    & a:hover {
      transform: translateY(-3px);
    }
  }
}

main {
  padding-top: 70px;
}

.imagem{
  width: 100%;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  margin-top: 2rem;
  color: var(--texto);
  font-size: large;
  transition: background-color 0.4s ease, color 0.4s ease;

  & p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  transition: transform 0.3s ease, color 0.3s ease;
  }

  & p:hover {
    transform: translateY(-3px);
  }

  & p img {
  width: 20px;
  height: auto;
  transition: transform 0.3s ease;
  background-color: none;
  }

  & p a {
  text-decoration: none;
  color: var(--texto);
  transition: color 0.3s ease;
  }

  & p.copyright {
  justify-content: center;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 700px){
  footer {
    gap: 40px;
    padding: 20px;
    margin-top: 2rem;
    color: var(--texto);
    font-size: small;
    transition: background-color 0.4s ease, color 0.4s ease;

    & p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    transition: transform 0.3s ease, color 0.3s ease;
    }

    & p:hover {
      transform: translateY(-3px);
    }

    & p img {
    width: 20px;
    height: auto;
    transition: transform 0.3s ease;
    background-color: none;
    }

    & p a {
    text-decoration: none;
    color: var(--texto);
    transition: color 0.3s ease;
    }

    & p.copyright {
    justify-content: center;
    }
  }
}