#sec-skills{
    display: flex;
    justify-content: center;
}

#skills {
    display: block;
    justify-items: center;
    padding: 30px;
    border:  solid 1px;
    font-size: large;
    border-radius: 8px;
}

.skills-container{
    display: flex;
    gap: 30px;
}

.skill-box{
    color: rgb(255, 81, 0);
    cursor: pointer;
}

.skill-box:hover{
    color: rgb(180, 57, 0);
    transition: transform 0.7s ease;
    transform: translateY(-5px);
}

@media (max-width: 600px) {
    
}